<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Title</title>
    <link rel="stylesheet" href='assets/framework-sympro.css'>
    <link rel="stylesheet" href='assets/library-sympro.css'>
    <link rel="stylesheet" href='assets/apps-sympro.css'>
  </head>
  <body>
    <!-- your HTML content here -->

    <script src="assets/runtime.js"></script>
    <script src="assets/framework-sympro.js"></script>
    <script src="assets/library-sympro.js"></script>
    <script src="assets/apps-sympro.js"></script>
  </body>
</html>
